body
{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;

    background-color: #f2f2f2;
    color:#092230;
}

.left-menu-container
{
    display: flex;
    flex-direction: column;

    width: 250px;
    background-color: #0a2230;

    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;

    color: white;

    position: fixed;
    height: 100%;
    overflow: auto;

}

.menu-logo-container
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu-logo-style
{
    width: 80px;
    padding-right: 20px;
}

.menu-row-selection-container
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}

.menu-icon-style
{
    width:20px;
    font-size:18px;
}

.menu-text
{
    padding-left: 30px;
}

.mainBody
{
    margin: 0;
    padding: 0;

    background-color: #f2f2f2;
    color:#092230;
}
.main-content-container
{
    margin-left: 290px;
    width: 100%;

}

.main-header-text
{
    padding-left:30px;
    padding-top: 30px;

    font-size: 25px;
}

.main-header-subtext
{
    padding-left:30px;
}

.input-box-container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding-top: 80px;
}

.input-box
{
    display: flex;
    flex-direction: column;

    border-style: solid;
    border-radius: 30px;

    width: 400px;

    padding: 30px;

    background-color: #fafafa;
}

.input-field
{
    height:30px;
    border-radius: 30px;
    border: 1px solid silver;

    padding-left: 20px;
    padding-right: 20px;
}

.input-submit-button
{
    width: 200px;
    height: 40px;

    font-size: 18px;

    background-color:#f36c36;
    color:white;
    border-style: none;
    border-radius: 30px;
}

.zipCodeLookupField
{    
    width: 90%;
    height:30px;
    border-radius: 30px;
    border: 1px solid silver;

    padding-left: 20px;
    padding-right: 20px;
}

.autocomplete-results {
    width: 25em;
    z-index: 100;
    position: absolute;
    margin-top: 160px;
}

.autocomplete-results div {
    background-color: #f9f9f9;
    padding: 8px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
}
.autocomplete-results div:hover 
{
    background-color: #0a2230;
    color: #f9f9f9;
}

.loadingBodySection
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 30px;

    background-color: #FFFAFA;
}

.loadingBody
{
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    background-color: #FFFAFA;

}

.reportMenuHeaderContainer
{
    background-color: #0a2230;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    height: 80px;
}

.zipCodeHeaderTextStyle
{
    color: white;
}

.pdfButtonStyle
{
    background-color: #f36c36;
    color: white;

    border-style: none;
    border-radius: 30px;

    padding: 10px;
    height: 30px;
    width: 150px;
}

.pdfButtonStyle:hover
{
    background-color: white;
    color: #f36c36;
}

.people-stayed-text-style
{
    font-size: 16px;
}

.input-functions-container
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.input-add-button
{
    width: 150px;
    height: 40px;

    font-size: 16px;

    background-color:#26646c;
    color:white;
    border-style: none;
    border-radius: 30px;
}

.input-del-button
{
    width: 150px;
    height: 40px;

    font-size: 16px;

    background-color:#26646c;
    color:white;
    border-style: none;
    border-radius: 30px;
}

.zipCodeInputContainer
{
    width: 100%;
    border-style: solid;
}

.table-section-container
{

    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;

    padding-bottom: 100px;
}

.table-header-section
{
    font-size: 20px;
    font-weight: bold;

    color: #eee;

    background-color: #506d7a;
    padding-left: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.comparison-table
{
    width: 100%;

    border: 1px solid #bdbdbd;
    border-collapse: collapse;
}

#zipCodeComparisonTable td, #zipCodeComparisonTable th 
{
    border-bottom: 1px solid #bdbdbd;

    width: 25%;
    padding: 20px;
}

.header-comparison-table
{
    width: 100%;
}

#zipCodeComparisonHeaderTable td, #zipCodeComparisonHeaderTable th 
{
    font-size: 25px;

    width: 25%;
    padding: 20px;
}


.centerReport
{
    display: flex;
    justify-content: center;
}

.propertyReportBody
{
    width: 900px;
    background-color: white;

    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;

}
.propertyReportHeaderContainer
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.reportGeneraionDateText
{
    font-size: 13px;
}

.reportLineStyle
{
    border: 2px solid #092230;
    width: 200px;
}

.reportHeaderStyle
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.report-menu-logo-style
{
    width: 150px;
}

.propertyReportHeaderText
{
    font-size: 20px;
}

.propertyOverviewReportHeaderText
{
    font-size: 25px;
    font-weight: 700;
}

.propertyPhoto
{
    height: 400px;
    width: 300px;
    object-fit: cover;
}

.propertyDatePostedText
{
    font-size: 13px;
}

.halfContainer
{
    display: flex;
    flex-direction: row;
}

.propertyInfomationContainer
{
    padding-left: 100px;
}

.propertyInformationText
{
    font-size: 20px;

}

#propertyInformationTable
{
    width: 500px;
    border: 1px solid #ddd;
    border-collapse: collapse;
}

#propertyInformationTable th, #propertyInformationTable td 
{
    border-bottom: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#propertyInformationTable tr:nth-child(even){background-color: #f2f2f2;}

.zillowDescriptionHeaderText
{
    font-size: 20px;
}

.zillowDescriptionText
{
    font-size: 15px;
}

.areaDescriptionTextSection
{
    padding-right: 40px;
    font-size: 15px;
}

.areaDescriptionHeaderText
{
    font-size: 20px;
}

#nearbyHomesTable
{
    width: 100%;
    border: 1px solid #ddd;
    border-collapse: collapse;
}

#nearbyHomesTable th, #nearbyHomesTable td 
{
    border-bottom: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#nearbyHomesTable tr:nth-child(even){background-color: #f2f2f2;}

.avgPriceText
{
    padding-left: 680px;
}

.halfContainerCharts
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
