body
{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;

    background-color: #f2f2f2;
    color:#092230;
}

.left-menu-container
{
    display: flex;
    flex-direction: column;

    width: 250px;
    background-color: #0a2230;

    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;

    color: white;

    position: fixed;
    height: 100%;
    overflow: auto;

}

.menu-logo-container
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu-logo-style
{
    width: 80px;
    padding-right: 20px;
}

.menu-row-selection-container
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}

.menu-icon-style
{
    width:20px;
    font-size:18px;
}

.menu-text
{
    padding-left: 30px;
}

.mainBody
{
    margin: 0;
    padding: 0;

    background-color: #f2f2f2;
    color:#092230;
}
.main-content-container
{
    margin-left: 290px;
    width: 100%;

}

.main-header-text
{
    padding-left:30px;
    padding-top: 30px;

    font-size: 25px;
}

.main-header-subtext
{
    padding-left:30px;
}

.main-header-back-text
{
    padding-left:30px;
    padding-top: 30px;

    font-size: 18px;

    color: #506d7a;
}

.input-box-container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding-top: 80px;
}

.input-box
{
    display: flex;
    flex-direction: column;

    border-style: solid;
    border-radius: 30px;

    width: 400px;

    padding: 30px;

    background-color: #fafafa;
}

.input-field
{
    height:30px;
    border-radius: 30px;
    border: 1px solid silver;

    padding-left: 20px;
    padding-right: 20px;
}

.input-submit-button
{
    width: 200px;
    height: 40px;

    font-size: 18px;

    background-color:#f36c36;
    color:white;
    border-style: none;
    border-radius: 30px;
}

.zipCodeLookupField
{    
    width: 90%;
    height:30px;
    border-radius: 30px;
    border: 1px solid silver;

    padding-left: 20px;
    padding-right: 20px;
}

.autocomplete-results {
    width: 25em;
    z-index: 100;
    position: absolute;
    margin-top: 160px;
}

.autocomplete-results div {
    background-color: #f9f9f9;
    padding: 8px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
}
.autocomplete-results div:hover 
{
    background-color: #0a2230;
    color: #f9f9f9;
}

.loadingBodySection
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 30px;

    background-color: #FFFAFA;
}

.loadingBody
{
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    background-color: #FFFAFA;

}

.reportMenuHeaderContainer
{
    background-color: #0a2230;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    height: 80px;
}

.zipCodeHeaderTextStyle
{
    color: white;
}

.pdfButtonStyle
{
    background-color: #f36c36;
    color: white;

    border-style: none;
    border-radius: 30px;

    padding: 10px;
    height: 30px;
    width: 150px;
}

.pdfButtonStyle:hover
{
    background-color: white;
    color: #f36c36;
}

.people-stayed-text-style
{
    font-size: 16px;
}

.input-functions-container
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.input-add-button
{
    width: 150px;
    height: 40px;

    font-size: 16px;

    background-color:#26646c;
    color:white;
    border-style: none;
    border-radius: 30px;
}

.input-del-button
{
    width: 150px;
    height: 40px;

    font-size: 16px;

    background-color:#26646c;
    color:white;
    border-style: none;
    border-radius: 30px;
}

.zipCodeInputContainer
{
    width: 100%;
    border-style: solid;
}

.table-section-container
{

    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;

    padding-bottom: 100px;
}

.table-header-section
{
    font-size: 20px;
    font-weight: bold;

    color: #eee;

    background-color: #506d7a;
    padding-left: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.comparison-table
{
    width: 100%;

    border: 1px solid #bdbdbd;
    border-collapse: collapse;
}

#zipCodeComparisonTable td, #zipCodeComparisonTable th 
{
    border-bottom: 1px solid #bdbdbd;

    width: 25%;
    padding: 20px;
}

.header-comparison-table
{
    width: 100%;
}

#zipCodeComparisonHeaderTable td, #zipCodeComparisonHeaderTable th 
{
    font-size: 25px;

    width: 25%;
    padding: 20px;
}


.centerReport
{
    display: flex;
    justify-content: center;
}

.propertyReportBody
{
    width: 900px;
    background-color: white;

    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;

}
.propertyReportHeaderContainer
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.reportGeneraionDateText
{
    font-size: 13px;
}

.reportLineStyle
{
    border: 2px solid #092230;
    width: 200px;
}

.reportHeaderStyle
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.report-menu-logo-style
{
    width: 150px;
}

.propertyReportHeaderText
{
    font-size: 20px;
}

.propertyOverviewReportHeaderText
{
    font-size: 25px;
    font-weight: 700;
}

.propertyPhoto
{
    height: 400px;
    width: 300px;
    object-fit: cover;
}

.propertyDatePostedText
{
    font-size: 13px;
}

.halfContainer
{
    display: flex;
    flex-direction: row;
}

.propertyInfomationContainer
{
    padding-left: 100px;
}

.propertyInformationText
{
    font-size: 20px;

}

#propertyInformationTable
{
    width: 500px;
    border: 1px solid #ddd;
    border-collapse: collapse;
}

#propertyInformationTable th, #propertyInformationTable td 
{
    border-bottom: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#propertyInformationTable tr:nth-child(even){background-color: #f2f2f2;}

.zillowDescriptionHeaderText
{
    font-size: 20px;
}

.zillowDescriptionText
{
    font-size: 15px;
}

.areaDescriptionTextSection
{
    padding-right: 40px;
    font-size: 15px;
}

.areaDescriptionHeaderText
{
    font-size: 20px;
}

#nearbyHomesTable
{
    width: 100%;
    border: 1px solid #ddd;
    border-collapse: collapse;
}

#nearbyHomesTable th, #nearbyHomesTable td 
{
    border-bottom: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#nearbyHomesTable tr:nth-child(even){background-color: #f2f2f2;}

.avgPriceText
{
    padding-left: 680px;
}

.halfContainerCharts
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.input-header-text
{
    font-size: 20px;
}

#propertyAnalyticsCalculationTable
{
    width: 100%;
    border: 1px solid #ddd;
    border-collapse: collapse;
}

#propertyAnalyticsCalculationTable th, #propertyAnalyticsCalculationTable td 
{
    border-bottom: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#propertyAnalyticsCalculationTable tr:nth-child(even){background-color: #f2f2f2;}

.boxedQuickAnalyticsContainer
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.analyticsBox
{

    display: flex;
    flex-direction: column;
    align-items: center;
    
    width:200px;
    height:100px;

    background-color: #092230;
    color:#f2f2f2;

    border-radius: 30px;
}

.dashboard-section-container
{
    padding: 30px;
}

.dashboard-title-text
{
    font-size: 30px;
}

.dashboard-boxes-container
{
    display: flex;

    flex-direction: row;
    justify-content: space-evenly;

    flex-wrap: wrap;
}

.dashboard-box
{
    background-color: #092230;
    color: #f2f2f2;

    padding: 20px;

    border-radius: 30px;

    font-size: 20px;
}

.settingsInputSectionContainer
{
    padding: 30px;
}

.subscriptionStatusTitle
{
    font-weight: 600;
}

.subscriptionEndDate
{
    font-size: 14px;
}

.changeSubscriptionButton
{
    padding: 10px;
}

.propertyManagerHomeOptionButtonsContainer
{
    padding-left:30px;
    padding-top: 30px;
}

.propertyManagerOptionButton
{
    width: 300px;
    height: 50px;

    background-color: #f36c36;
    color: #f2f2f2;

    font-size: 20px;

    border-style: none;

    padding: 10px;

}

.propertyGridSection
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    padding-right: 30px;
}

.propertyViewCard
{
    background-color: #fff;
    width: 300px;
    height: 350px;

    border-style: solid;
    border-color: #506d7a;

    margin-bottom: 30px;
}

.propertyCardImage
{
    width: 100%;
}

.propertyCardInfo
{
    padding-left: 10px;
    padding-right: 10px;
}

.propertyCardButtons
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.propertyNormalCardButton
{
    width: 70px;
    height: 30px;

    background-color: #fff;
    color: #f36c36;
    border-style: solid;
    border-color: #f36c36;
}

.propertyRemoveCardButton
{
    width: 70px;
    height: 30px;

    background-color: #fff;
    color: #e26f6f;
    border-style: solid;
    border-color: #e26f6f; 
}

.addPropertyForm
{
    padding-left: 30px;
    padding-right: 30px;
}

.addPropertySectionHeaderText
{
    font-size: 25px;
}

.propertyInfoFieldInput
{
    width: 100%;
    height: 30px;

    padding: 5px;

    font-size: 18px;
}

.submitPropertyButton
{
    width: 100px;
    height:50px;

    padding: 10px;

    font-size: 18px;

    background-color: #f36c36;
    color: #f2f2f2;

    border-style: none;
}

.fileLabel
{
    background-color: #f36c36;
    color: white; 
    padding: 12px 30px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.propertyMenuOptionsButtons
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menuButton
{
    background-color: #f36c36;
    color: white; 
    padding: 12px 30px;
    font-size: 16px;
    margin-right: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s; 
}

.menuButton:hover
{
    background-color: #092230;
    color: white; 
}

.propertyInfomationSectionContainer
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 200px;
}

.mainPropertyInformationCard
{
    width: 50%;
    background-color: #ffffff;

    padding-left: 30px;
    padding-right: 30px;

    height: 850px;
}

.propertyInformationImage
{
    width: 100%;
}

.propertyInformationText
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.mainPropertyInformationSection
{
    width: 75%;
}

.generalPropertyInfomationSection
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.generalPropertyInformationCard
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    width: 33%;
}

.generalPropertyInformationCardTextSection
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.propertyCardTitleText
{
    font-size: 35px;
}

.propertyCardTitleText
{
    font-size: 35px;
}

.propertyCardNameText
{
    font-size: 30px;
    font-weight: bold;
}

.propertyCardAddressText
{
    font-size: 15px;
    color: #506d7a;
}

.propertyCardTypeTitle
{
    font-size: 20px;
    font-weight: bold;
}

.propertyCardTypeText
{
    font-size: 15px;
}

.propertyCardSubText
{
    font-size: 25px;
}

.generalPropertyText
{
    font-size: 25px;
    font-weight: bold;

    margin-bottom: -15px;
}

.generalPropertyInformationIcon
{
    width: 50px;
}

.propertyOtherData
{
    display: flex;
    flex-direction: column;
    
    width: 50%;
}

.otherCardSection
{
    background-color: #fff;

    margin-left: 20px;

    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;

    margin-bottom: 20px;
}

.tenantNameCardText
{
    font-size: 30px;
    font-weight: bold;
}

.contractIdCardText
{
    font-size: 20px;
    color: #506d7a;
}

.contractPriceCardText
{
    font-weight: bold;
}

.propertyAnalyticsContainerSection
{
    display: flex;
    flex-direction: column;

    padding-left: 30px;
    padding-right: 30px;
}

.propertyAnalyticsCard
{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-top: 30px;

    background-color: #fff;
}

.halfContainerPropertyAnalytics
{
    display: flex;
    flex-direction: row;

    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-top: 30px;

    background-color: #fff;
}

.paymentSectionContainer
{
    display: flex;
    flex-direction: column;

    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 200px;
}

.paymentCard
{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-top: 30px;

    background-color: #fff;
}

.paymentHalfContainer
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.copyLinkButton
{
    width: 200px;
    height: 30px;

    padding: 5px;

    background-color: #9cc5c7;
    color: #fff;
    border-style: none;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
  
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.cancelButton
{
    background-color: #9cc5c7;
    color: #fff;
    border-style: none;

    width: 100px;
    height: 30px;

    padding: 5px;
}

.removeButton
{
    background-color: #e26f6f;
    color: #fff;
    border-style: none;

    width: 100px;
    height: 30px;

    padding: 5px;
}

.spaceBetween
{
    width: 50px;
}

.profileSettingsContainer
{
    display: flex;
    flex-direction: column;

    padding-left: 30px;
    padding-right: 30px;
}

.propertySettingsSectionTitle
{
    font-size: 25px;
    font-weight: bold;
}

.propertySettingsSectionNoteText
{
    font-size: 14px;
}

.profileSettingsNormalButton
{
    width: 200px;
    height: 30px;

    padding: 5px;

    background-color: #f36c36;
    color: #fff;

    border-style: none;
}

.propertySettingsAccountConnectedText
{
    font-weight: 700;
    color: #f36c36;
}

.profileSettingsViewButton
{
    width: 200px;
    height: 30px;

    padding: 5px;

    background-color: #26646c;
    color: #fff;

    border-style: none;
}

.propertySettingsWebsiteLiveText
{
    font-weight: 700;
    color: #f36c36;
}

.accountConnectedInfoDiv
{
    display: none;
}

.websiteLiveInfoDiv
{
    display: none;
}